// styles/application/layout
body {
  background: url('/assets/images/rijk-van-de-keizer.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}
.container {
  margin: 10%;
}
.box {
  color: white;
  max-width: 750px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 500;
}
p {
  line-height: 25px;
}
a {
  color: darken(lightgreen, 20%);
}
.button {
  cursor: pointer;
  background-color: darken(lightgreen, 20%);
  color: white;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    background-color: green;
  }
}
