// styles/application/layout
.background {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.button {
  cursor: pointer;
  background-color: lightgreen;
  color: white;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: 400;
  &:hover {
    background-color: green;
  }
}
