{{!-- index/template --}}
<h1 class="title">19 mei 2017</h1>
<h2 class="subtitle">Jeroen &amp; Marieke</h2>
<div class="button-row">
  {{#link-to 'daggast' class='button'}}
    <p>Ik ben een daggast</p>
  {{/link-to}}
  {{#link-to 'ceremonie' class='button'}}
    <p>Ik ga naar de ceremonie en het feest</p>
  {{/link-to}}
  {{#link-to 'feest' class='button'}}
    <p>Ik kom naar het feest</p>
  {{/link-to}}
</div>
