{{!-- ceremonie/template --}}
<div class="box">
  <h1>Welkom feestganger!</h1>
  <p>Leuk dat je ook naar de ceremonie komt! Natuurlijk heb je onze brief goed doorgelezen, maar ben je die kwijtgeraakt en toch alles vergeten? Dan vind je op deze pagina alle informatie die je nodig hebt ;)</p>
  <h2>Ben je er bij?</h2>
  <a class="button google-form-button" href="https://goo.gl/forms/34RzaUYcgBGX2zS92" target="_blank">
    Laat weten of je er bij bent
  </a>
  <h2>Planning</h2>
  {{planning-table type='ceremonie'}}
  <h2>Locaties</h2>
  <div class="locations">
    {{google-maps-location location='stadhuis'}}
    {{google-maps-location location='rijkvandekeizer'}}
  </div>
</div>
