{{!-- ceremonie/template --}}
<div class="box">
  <h1>Welkom feestganger!</h1>
  <p>Leuk dat je ook naar de ceremonie komt! Natuurlijk heb je onze brief goed doorgelezen, maar ben je die kwijtgeraakt en toch alles vergeten? Dan vind je op deze pagina alle informatie die je nodig hebt ;)</p>
  <h2>Ben je er bij?</h2>
  {{google-form-button id='b3BGxbc57TjYWAm52'}}
  <h2>Planning</h2>
  {{planning-table type='ceremonie'}}
  <h2>Vragen</h2>
  <p>Heb je verder nog vragen? Neem dan contact op met de ceremoniemeesters via <a href="mailto:ceremonie@19mei.nl">ceremonie@19mei.nl</a>.</p>
  <h2>Locaties</h2>
{{google-maps-location location='stadhuis'}}
{{google-maps-location location='rijkvandekeizer'}}
</div>
