{{!-- feest/template --}}
<div class="box">
  <h1>Welkom feestganger!</h1>
  <p>Natuurlijk heb je onze brief goed doorgelezen, maar ben je die kwijtgeraakt en toch alles vergeten? Dan vind je op deze pagina alle informatie die je nodig hebt ;)</p>
  <h2>Ben je er bij?</h2>
  {{google-form-button id='0DIkKAg83VSiYlK93'}}
  <h2>Planning</h2>
  {{planning-table type='feest'}}
  <h2>Locatie</h2>
  {{google-maps-location location='rijkvandekeizer'}}
</div>
