{{!-- components/google-maps-location --}}
{{#if (eq location 'raaks')}}
  <p><b>Parkeergarage Raaks</b><br>Zijlvest 45<br>2011VB Haarlem</p>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.385756604933!2d4.627133916268094!3d52.381556954231556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5ef148ce902f1%3A0x6e0a77efa286583a!2sParkeergarage+Raaks!5e0!3m2!1sen!2snl!4v1488539995848" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{{else if (eq location 'schermerstraat')}}
  <p><b>Jeroen &amp; Marieke</b><br>Schermerstraat 26 Rood<br>2013ET Haarlem</p>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.2714335882724!2d4.622943616466138!3d52.38362957978854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5ef1145332a39%3A0x3c26ae7c0ec07f07!2sSchermerstraat+26%2C+2013+Haarlem!5e0!3m2!1sen!2snl!4v1487607518890" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{{else if (eq location 'stadhuis')}}
  <p><b>Stadhuis Haarlem</b><br>Grote Markt 2<br>2011RD Haarlem</p>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.39563394168!2d4.632821916466096!3d52.38137787978821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5ef6b73ba7f93%3A0xf98a8f744e79173!2sTown+Hall+Haarlem!5e0!3m2!1sen!2snl!4v1487607549584" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{{else if (eq location 'rijkvandekeizer')}}
  <p><b>Rijk van de Keizer</b><br>Joris van Den Berghweg 109<br>1067HP Amsterdam</p>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.2885439726983!2d4.777767116466121!3d52.38331937978863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e39a7c086f75%3A0x52c0a036ece30cab!2sHet+Rijk+van+de+Keizer!5e0!3m2!1sen!2snl!4v1487607566176" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{{else}}
  <p>Origin</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8183203431317!2d-0.0021886858480395953!3d0.000005364426100341625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMMKwMDAnMDAuMCJOIDDCsDAwJzAwLjAiRQ!5e0!3m2!1sen!2snl!4v1487618007298" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{{/if}}
