{{!-- daggast/template --}}
<div class="container">
  <div class="box">
    <h1>Welkom daggast!</h1>
    <p>Natuurlijk heb je onze brief goed doorgelezen, maar ben je die kwijtgeraakt en toch alles vergeten? Dan vind je op deze pagina alle informatie die je nodig hebt ;)</p>

    <h2>Ben je er bij?</h2>

    <a class="button google-form-button" href="https://goo.gl/forms/34RzaUYcgBGX2zS92" target="_blank">
      Laat weten of je er bij bent
    </a>

    <h2>Planning</h2>

    <table>
      <tr>
        <th>Tijd</th>
        <th>Onderdeel</th>
        <th>Locatie</th>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Ontvangst daggasten</td>
        <td>Schermerstraat</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Ceremonie</td>
        <td>Stadhuis Haarlem</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>Borrel + felicitaties + foto's</td>
        <td>Rijk van de Keizer</td>
      </tr>
      <tr>
        <td>17:30</td>
        <td>Diner</td>
        <td>Rijk van de Keizer</td>
      </tr>
      <tr>
        <td>20:30</td>
        <td>Feest</td>
        <td>Rijk van de Keizer</td>
      </tr>
    </table>

    <h2>Locaties</h2>

    <div class="locations">
      {{google-maps-location location='schermerstraat'}}
      {{google-maps-location location='stadhuis'}}
      {{google-maps-location location='rijkvandekeizer'}}
    </div>
  </div>
</div>
